<h1>Robyn#index</h1>
<p>Find me in app/views/robyn/index.html.erb</p>


<%= form_tag('/robyn/index', :method => 'GET') do %>

<p>
  <%= text_field_tag :search_value, params['search_value'] %>

  <%= submit_tag "Search", :name => nil %>

</p>

<% end %>

<% if @songs.present? %>

<h2>Songs</h2>
<ul>
  <% for song in @songs %>
    <li> <%= link_to song.Song, song_path(song) %> </li>
  <% end %>
</ul>


<% end %>


<% if @gigs.present? %>

<h2>Gigs</h2>
<ul>
  <% for gig in @gigs %>
    <li> <%= link_to "#{gig.Venue} (#{gig.GigDate.to_date.to_formatted_s(:long)})", gig_path(gig) %> </li>
  <% end %>
</ul>

<% end %>

<% if @compositions.present? %>

<h2>Compositions</h2>
<ul>
  <% for comp in @compositions %>
    <li> <%= link_to comp.Title, composition_path(comp) %> </li>
  <% end %>
</ul>


<% end %>