<div class="main-page">

  <%= form_tag('/robyn/index', :method => 'GET', :id => 'main-search') do %>

    <div class="search-block">
    <%= text_field_tag :search_value, params['search_value'], 
                       :class => 'typeahead', 
                       :placeholder => 'Search Everything' %>
    </div>
    

  <% end %>

  <!-- songs -->
  <% if @songs.present? %>
    <h3 class="main-header">Songs</h3>
    <%= render partial: '/songs/song_list', locals: { songs: @songs, use_paging: true, page_length: 20 } %>
  <% end %>

  <!-- albums -->
  <% if @compositions.present? %>
    <h3 class="main-header">Albums</h3>
    <%= render partial: '/compositions/album_list', locals: { albums: @compositions, suppress_header: false, use_paging: true, page_length: 20 } %>
  <% end %>

  <!-- gigs -->
  <% if @gigs.present? %>
    <h3 class="main-header">Gigs</h3>
    <%= render partial: '/gigs/gig_list', locals: { gigs: @gigs, suppress_header: false, use_paging: true, page_length: 20 } %>
  <% end %>

</div>