<div class="main-page">

  <%= form_tag('/robyn/index', :method => 'GET', :class => 'main-search', :id => 'main-search') do %>

    <div class="search-block">
    <%= text_field_tag :search_value, params['search_value'], 
                       :class => 'typeahead', 
                       :placeholder => 'Search Everything' %>
    </div>
    
  <% end %>

  <!-- omnisearch results -->
  <% if [@songs, @compositions, @gigs, @venues, @performances].any? { |a| not a.nil? } %>

    <% if [@songs, @compositions, @gigs, @venues, @performances].all? { |a| a.empty? } %> 

      <%= render partial: '/robyn/nothing_found' %>

    <% else %>

      <!-- gigs -->
      <% if @gigs.present? %>
        <h3 class="main-header">Gigs</h3>
        <%= render partial: '/gigs/gig_list', locals: { gigs: @gigs, table_id: "gig-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- songs -->
      <% if @songs.present? %>
        <h3 class="main-header">Songs</h3>
        <%= render partial: '/songs/song_list', locals: { songs: @songs, table_id: "song-omni", use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- albums -->
      <% if @compositions.present? %>
        <h3 class="main-header">Albums</h3>
        <%= render partial: '/compositions/album_list', locals: { albums: @compositions, table_id: "album-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- venues -->
      <% if @venues.present? %>
        <h3 class="main-header">Venues</h3>
        <%= render partial: '/venues/venue_list', locals: { venues: @venues, table_id: "venue-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- media -->
      <% if @performances.present? %>
        <h3 class="main-header">Media</h3>
        <%= render partial: '/performances/performance_list', locals: { performances: @performances, table_id: "performance-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

    <% end %>

  <% else %>
  
    <% quick_queries = get_random_quick_queries([Gig, Song, Composition]) %>

    <%= render partial: '/robyn/quick_queries', locals: {quick_queries: quick_queries} %>

  <% end %>

</div>