<div class="album-description-block">

  <dl class="dl-horizontal">
    <dt>Artist</dt>
    <dd><%= comp.Artist %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Year</dt>
    <dd><%= comp.Year.to_i %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Medium</dt>
    <dd><%= comp.Medium %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Label</dt>
    <dd><%= comp.Label %> </dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Catalog Number</dt>
    <dd><%= comp.CatNo %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Type</dt>
    <dd><%= comp.Type %></dd>
  </dl>

  <% if comp.Comments %>
    <dl class="dl-horizontal">
      <dt>Comments</dt>
      <dd><%= comp.Comments %></dd>
    </dl>
  <% end %>

  </br>
  
</div>