<!-- Compositionss#show -->
<!-- Find me in app/views/compositions/show.html.erb -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<div class="albums-page">

<h2><%= @comp.Title %></h2>

<!-- images: <%= @associated_images.to_s =%> -->

<div class="row">

  <div class="col-sm-5">

    <% if @associated_images.length > 0 %>
      <a class="album-art" href="/<%= @associated_images.first.to_s %>">
        <img src="/<%= @associated_images.first.to_s %>"/>
      </a>

      <% if @associated_images.length > 1 %>
        <div style="display: none">

          <% for img_index in 1...@associated_images.length %>
          <a class="album-art" href="/<%= @associated_images[img_index].to_s %>">
            <img src="/<%= @associated_images[img_index].to_s %>" />
          </a>
          <% end %>

        </div>  

      <% end %>

    <% end %>

    <ol class="album-track-list">

      <% for track in @comp.tracks %>
        <% if track.song.present? %>
          <li> <%= link_to track.song.full_name, song_path(track.song) %></li>
        <% else %>
          <li> <%= track.Song %></li>
        <% end %>
      <% end %>

    </ol>

  </div>

  <div class="col-sm-7">

    <h4>Details</h4>

    <%= render partial: 'album_block', locals: {comp: @comp} %>

    <% if @other_editions.present? %>

      <h4>Other Editions</h4>

      <% for comp in @other_editions %>

        <div class="album-block-header" data-compid="<%= comp.COMPID %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <%= album_block_header_title(comp) %>
        </div>

        <div class="album-block-container" style="display: none" data-compid="<%= comp.COMPID %>">
          <%= render partial: 'album_block', locals: {comp: comp} %>
        </div>

        </br>

      <% end %>

    <% end %>

  </div>

</div>

</div>

<!-- <h3 class="main-header"> Tracks </h3> -->

