<% suppress_header = nil unless local_assigns.has_key? :suppress_header %>
<% use_paging = false unless local_assigns.has_key? :use_paging %>
<% show_search = false unless local_assigns.has_key? :show_search %>
<% page_length = 10 unless local_assigns.has_key? :page_length %>
<%= show_lyrics_snippet = nil unless local_assigns.has_key? :show_lyrics_snippet %>

<table class="table table-hover main-search-list" data-paging="<%= use_paging %>" data-searching="<%= show_search %>" data-page-length="<%= page_length %>" data-length-change="false">
  <thead>
  <tr>
  <th>Name</th>
    <th>Author</th>
  </tr>
  </thead>
  <% for song in songs %>
    <tr data-path="<%=song_path(song)%>">
      <td class="main-column"> 
        <%= song.full_name %> 

        <% if song.Lyrics.present? %>
          <a href="<%=song_path(song)%>#lyrics">
            <span title="Lyrics provided" class="glyphicon glyphicon-book" aria-hidden="true"></span>
          </a>
        <% end %>
        
        <% if song.Tab.present? %>
        <a href="<%=song_path(song)%>#tabs">
          <span title="Tablature provided" class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </a>
        <% end %>

        <% if show_lyrics_snippet.present? and song.Lyrics.present? %>
          <div class="lyrics-snippet"> <%= highlight_search_lyrics(show_lyrics_snippet, song.Lyrics) %></div>
        <% end %>

      </td>
      <td> <%= song.Author.nil? ? "Robyn Hitchcock" : song.Author %> </td>
    </tr>
  <% end %>
</table>
