
<%= form_tag('/songs/index', :method => 'GET') do %>

<div class="search-criteria">

  <%= text_field_tag :search_value, params['search_value'] %>

  <%= submit_tag "Search", :name => nil %>

  <div class="criteria">
    <%= radio_button_tag 'search_type[]', 'title', Array(params['search_type']).include?('title')   %> <span class="radio-label">Title</span>
    <%= radio_button_tag 'search_type[]', 'lyrics', Array(params['search_type']).include?('lyrics') %> <span class="radio-label">Lyrics</span>
    <%= radio_button_tag 'search_type[]', 'author', Array(params['search_type']).include?('author') %> <span class="radio-label">Author</span>
  </div>

</div>

<% end %>

<div class="search-results">

  <% if @songs.present? %>
    <%= render partial: '/songs/song_list', locals: {songs: @songs, show_lyrics_snippet: @show_lyrics ? params[:search_value] : nil} %>
  <% end %>

</div>