
<%= form_tag('/songs/index', :method => 'GET') do %>

<p>
  <%= text_field_tag :search_value, params['search_value'] %>


  <%= check_box_tag 'search_type[]', 'title', Array(params['search_type']).include?('title') %> Title
  <%= check_box_tag 'search_type[]', 'lyrics', Array(params['search_type']).include?('lyrics')  %> Lyrics
  <%= check_box_tag 'search_type[]', 'author', Array(params['search_type']).include?('author')  %> Author

  <%= submit_tag "Search", :name => nil %>

</p>

<% end %>

<% if @songs %>

<table class="table table-hover main-search-list">
  <thead>
  <tr>
    <th>Name</th>
    <th>Author</th>
  </tr>
  </thead>
  <% for song in @songs %>
    <tr data-path="<%=song_path(song)%>">
      <td class="main-column"> <%= song.full_name %> </td>
      <td> <%= song.Author.nil? ? "Robyn Hitchcock" : song.Author %> </td>
    </tr>
  <% end %>
</table>

<% end %>