
<!-- <%= link_to "Back", controller: 'robyn' %> -->

<h2 class="main-header"><%= @song.full_name %> 

  <small>
    <span class="inpage-navigation">
      <% if @albums_present %> <span><a href="#albums">Albums</a></span> <% end %>
      <% if @gigs_present %> <span><a href="#gigs">Gigs</a></span> <% end %>
      <% if @song.Lyrics %> <span><a href="#lyrics">Lyrics</a></span> <% end %>
      <% if @song.Tab %> <span><a href="#tabs">Tablature</a></span> <% end %>
    </span>
  </small>

</h2>

<div class="row">

  <div class="col-sm-9">

    <h4 class="underlined-header">Details</h4>

    <div class="album-description-block">

      <dl class="dl-horizontal">
        <dt>Author</dt>
        <dd><%= @song.Author.nil? ? "Robyn Hitchcock" : @song.Author %></dd>
      </dl>

      <% if @song.Versions %>

        <dl class="dl-horizontal">
          <dt>Versions</dt>
          <dd><%= @song.Versions %></dd>
        </dl>

      <% end %>

      <% if @song.OrigBand %>

        <dl class="dl-horizontal">
          <dt>Original Band</dt>
          <dd><%= @song.OrigBand %></dd>
        </dl>

      <% end %>

      </br>
      
    </div>

  </div>

</div>

<!-- albums on which the song appears-->
<div class="row">

  <% if @song.compositions.present? %>

    <div class="col-sm-9">

      <a name="albums"></a>
      <h4>Albums</h4>
      <%= render partial: '/compositions/album_list', locals: {albums: @song.get_albums,  suppress_header: true} %>

    </div>

  <% end %>

</div>

<!-- gigs at whichs the song was played -->
<% if @song.gigs.present? %>

<div class="row">

  <div class="col-sm-9">

    <a name="gigs"></a>
    <h4>Gigs</h4>
    <%= render partial: '/gigs/gig_list', locals: {gigs: @song.gigs, suppress_header: true} %>

  </div>

</div>

<% end %>

<!-- lyrics -->
<% if @song.Lyrics.present? %>

<div class="row">
  <div class="col-sm-12">

    <a name="lyrics"></a>
    <h4 class="underlined-header">Lyrics</h4>
    <div class="lyrics">
      <pre><%= @song.Lyrics =%> </pre>
    </div>

  </div>
</div>
<% end %>

<!-- tablature -->
<% if @song.Tab.present? %>

<div class="row">
  <div class="col-sm-12">

    <a name="tabs"></a>
    <h3 class="main-header">Tablature</h3>
    <div class="lyrics">
      <pre><%= @song.Tab =%> </pre>
    </div>
  </div>
</div>

<% end %>