<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<p>SONGID: <%= @song.SONGID %></p>

<%= link_to "Back", controller: 'robyn' %>

<h1><%= @song.Song %></h1>

<% if @song.Author %>
  <p>Author: <%= @song.Author %></p>
<% end %>

<% if @song.compositions %>
  <ul>
    <% for comp in @song.compositions %>
      <li> <%= link_to comp.Title, composition_path(comp) %> </li>
    <% end %>
  </ul>
<% end %>

<h2>Gigs</h2>

<% for gig in @song.gigs %>

  <%= link_to gig.Venue, gig_path(gig) %> <%= gig.GigDate.to_date.to_formatted_s(:long) %> <br/> 

<% end %>


<h2>Lyrics</h2>

<pre><%= @song.Lyrics =%> </pre>

