
<!-- <%= link_to "Back", controller: 'robyn' %> -->

<div class="row" style="margin-bottom: 0px">
  <div class="col-sm-10">

    <h2 class="main-header"><%= @song.full_name %> 

      <small>
        <span class="inpage-navigation">
          <% if @albums_present %> <span><a href="#albums">Albums</a></span> <% end %>
          <% if @gigs_present %> <span><a href="#gigs">Gigs</a></span> <% end %>
          <% if @song.Lyrics.present? %> <span><a href="#lyrics">Lyrics</a></span> <% end %>
          <% if @song.performances.present? %> <span><a href="#performances">Media</a></span> <% end %>
          <% if @song.Comments.present? %> <span><a href="#comments">Comments</a></span> <% end %>
          <% if @song.Tab %> <span><a href="#tabs">Tablature</a></span> <% end %>
        </span>
      </small>

    </h2>

  </div>

  <% if can? :manage, Song %>

    <div class="col-sm-2">
      <%= form_tag(edit_song_path, :method => 'GET') do %>
        <%= submit_tag "Edit Song", :name => nil %>
      <%end%>
    </div>

  <% end %>

</div>

<div class="row">

  <div class="col-sm-12">

    <h4 class="underlined-header">Details</h4>

    <div class="album-description-block">

      <dl class="dl-horizontal">
        <dt>Author</dt>
        <dd><%= @song.Author.nil? ? "Robyn Hitchcock" : @song.Author %></dd>
      </dl>

      <% if @song.OrigBand %>

        <dl class="dl-horizontal">
          <dt>Original Band</dt>
          <dd><%= @song.OrigBand %></dd>
        </dl>

      <% end %>


      <% if @song.Versions %>

        <dl class="dl-horizontal">
          <dt>Versions</dt>
          <dd><%= @song.Versions %></dd>
        </dl>

      <% end %>

      <br/>
      
    </div>

  </div>

</div>

<!-- albums on which the song appears-->
<% if @song.compositions.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="albums"></a>
    <h4>Albums</h4>
    <%= render partial: '/compositions/album_list', locals: {albums: @song.get_albums, table_id: "album-song", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>


<!-- gigs at whichs the song was played -->
<% if @song.gigs.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="gigs"></a>
    <h4>Gigs</h4>
    <%= render partial: '/gigs/gig_list', locals: {gigs: @song.gigs.distinct, table_id: "gig-song", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>


<!-- performances where the song was played -->
<% if @song.performances.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="performances"></a>
    <h4>Media</h4>
    <%= render partial: '/performances/performance_list', locals: {performances: @song.performances, table_id: "performance-song", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>


<% if @song.Comments.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="comments"></a>
    <h4>Comments</h4>

    <div>
      <%= @song.get_comments.html_safe %>
    </div>

  </div>

</div>

<% end %>


<!-- lyrics -->
<% if @song.Lyrics.present? %>

<div class="row page-section">
  <div class="col-sm-12">

    <a class="anchor" name="lyrics"></a>
    <h4>Lyrics</h4>
    <div class="lyrics">
      <pre><%= @song.Lyrics =%> </pre>
    </div>

  </div>
</div>
<% end %>

<!-- tablature -->
<% if @song.Tab.present? %>

<div class="row page-section">
  <div class="col-sm-12">

    <a class="anchor" name="tabs"></a>
    <h4>Tablature</h3>
    <div class="lyrics">
      <pre><%= @song.Tab =%> </pre>
    </div>
  </div>
</div>

<% end %>