<!-- Songs#show -->
<!-- Find me in app/views/songs/show.html.erb -->
<!-- SONGID: <%= @song.SONGID %> -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<h2 class="main-header"><%= @song.full_name %> <small> <%= @song.Author.nil? ? "Robyn Hitchcock" : @song.Author %></small></h2>


<!-- albums section -->
<% if @song.compositions.present? %>
  <h3 class="main-header">Albums</h3>
  <%= render partial: '/compositions/album_list', locals: {albums: @song.get_albums} %>
<% end %>

<% if @song.gigs.present? %>
  <h3 class="main-header">Gigs</h3>
  <%= render partial: '/gigs/gig_list', locals: {gigs: @song.gigs} %>
<% end %>

<!-- lyrics -->
<% if @song.Lyrics.present? %>
  <h3 class="main-header">Lyrics</h3>
  <pre><%= @song.Lyrics =%> </pre>
<% end %>

