<!-- Songs#show -->
<!-- Find me in app/views/songs/show.html.erb -->
<!-- SONGID: <%= @song.SONGID %> -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<h2 class="main-header"><%= @song.Song %> <small> <%= @song.Author.nil? ? "Robyn Hitchcock" : @song.Author %></small></h2>

<h3 class="main-header">Compositions</h3>

<% if @song.compositions %>

  <table class="table table-hover main-search-list">
    <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
    </tr>
    </thead>
    <% for comp in @song.compositions %>
      <tr data-path="<%= composition_path(comp) %>">
        <td class="main-column"> <%= comp.Title %> </td>
        <td> <%= comp.Year.to_i %> </td>
      </tr>
    <% end %>
  </table>

<% end %>

<h3 class="main-header">Gigs</h3>

  <table class="table table-hover main-search-list">

    <thead>
    <tr>
      <th>Venue</th>
      <th>Date</th>
    </tr>
    </thead>

    <% for gig in @song.gigs %>
      <tr data-path="<%= gig_path(gig) %>">
        <td class="main-column"> <%= gig.Venue %> </td>
        <td> <%= gig.GigDate.to_date.to_formatted_s(:long) %> </td>
      </tr>
    <% end %>

  </table>

<h3 class="main-header">Lyrics</h3>

<pre><%= @song.Lyrics =%> </pre>

