<% suppress_header = nil unless local_assigns.has_key? :suppress_header %>
<% use_paging = false unless local_assigns.has_key? :use_paging %>
<% show_search = false unless local_assigns.has_key? :show_search %>
<% page_length = 10 unless local_assigns.has_key? :page_length %>
<% table_id = "" unless local_assigns.has_key? :table_id %>

<table class="table table-hover main-search-list" data-id="<%= table_id %>" data-paging="<%= use_paging %>" data-searching="<%= show_search %>" data-page-length="<%= page_length %>" data-length-change="false">
  <thead>
  <th>Venue</th>
  <th>City</th>
  <th>Subcity</th>
  <th>State</th>
  <th>Country</th>
  <% if can? :manage, Venue %>
    <th>Actions</th>
  <% end %>
  </tr>
  </thead>
  <% for venue in venues %>
    <tr data-path="<%=venue_path(venue)%>">
      <td class="main-column"> 
        <%= venue.Name %> 
      </td>
      <td>
        <%= venue.City%>
      </td>
      <td>
        <%= venue.SubCity%>
      </td>
      <td>
        <%= venue.State%>
      </td>
      <td>
        <%= venue.Country%>
      </td>

      <% if can? :manage, Venue %>
        <td> 
          <a href="<%=venue_path(venue)%>/edit">Edit</a> &nbsp; &nbsp;
          <%= link_to("Delete", venue_path(venue), method: :delete, data: { confirm: "Are you sure you want to delete #{venue.Name}" }) %>
        </td>
      <% end %>
      
    </tr>
  <% end %>
</table>
