<div class="row" style="margin-bottom: 0px">
  <div class="col-sm-10">
    <h2 class="main-header"><%= @venue.Name %></h2>
  </div>

  <% if can? :manage, Venue %>

    <div class="col-sm-2">
      <%= form_tag(edit_venue_path, :method => 'GET') do %>
        <%= submit_tag "Edit Venue", :name => nil %>
      <%end%>
    </div>

  <% end %>

</div>


<div class="row">

  <div class="col-sm-12">

    <h4 class="underlined-header">Details</h4>

    <div class="album-description-block">

      <dl class="dl-horizontal">
        <dt>City</dt>
        <dd><%= @venue.City %></dd>
      </dl>

      <% if @venue.SubCity %>

        <dl class="dl-horizontal">
          <dt>Subcity</dt>
          <dd><%= @venue.SubCity %></dd>
        </dl>

      <% end %>
      
      <% if @venue.State %>

        <dl class="dl-horizontal">
          <dt>State</dt>
          <dd><%= @venue.State %></dd>
        </dl>

      <% end %>

      <dl class="dl-horizontal">
        <dt>Country</dt>
        <dd><%= @venue.Country %></dd>
      </dl>
      
    </div>

  </div>

</div>


<!-- gigs at this venue -->
<% if @venue.gigs.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="gigs"></a>
    <h4>Gigs</h4>
    <%= render partial: '/gigs/gig_list', locals: {gigs: @venue.gigs, table_id: "gig-venue", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>

