<table id="<%=id%>">

    <thead>
        <tr>
            <th>Order</th>
            <th>Song</th>
            <th>Song Name Override</th>
            <th>Version Notes</th>
            <th>Action</th>
        </tr>
    </thead>


    <tbody>

    <% sequenceIndex = 1 %>

    <div style="display: none">
        <select id="template-song-selector" class="form-control song-selector">
            <option value=""></option>
            <% @song_list.map do |s| %>
                <option value="<%= s[1] %>"><%= s[0] %></option>
            <% end %>
        </select>
    </div>

    <%= f.fields_for :gigsets, gset do |gigset_fields| %>
        <tr data-row=<%= sequenceIndex %>>
            <td> <%= gigset_fields.text_field :Chrono, { class: "form-control", size: 3, value: sequenceIndex }%></td>
            <td> <%= gigset_fields.select(:SONGID, @song_list, {include_blank: true}, { class: "form-control song-selector" })%> </td>
            <td> <%= gigset_fields.text_field :Song, :class => "form-control" %></td>
            <td> 
                <%= gigset_fields.text_field :VersionNotes, :class => "form-control" %> 
                <%= gigset_fields.hidden_field :Encore %> 
            </td>            
            <td> 
                <Button type="button" onClick="removeTableRow('<%=id%>', <%=sequenceIndex%>)">
                    Remove
                </Button>
            </td>

        </tr>

        <% sequenceIndex+=1 %>

    <% end %>

    </tbody>

</table>

<br/>

<button type="button" onClick="addTableRow('<%=id%>', <%=encore%>)">Add Song</button>
