<% suppress_header = nil unless local_assigns.has_key? :suppress_header %>
<% use_paging = false unless local_assigns.has_key? :use_paging %>
<% show_search = false unless local_assigns.has_key? :show_search %>
<% page_length = 10 unless local_assigns.has_key? :page_length %>
<% table_id = "" unless local_assigns.has_key? :table_id %>

<table class="table table-hover main-search-list" data-id="<%= table_id %>" data-paging="<%= use_paging %>" data-searching="<%= show_search %>" data-page-length="<%= page_length %>" data-length-change="false" >

  <% if not suppress_header %>
    <thead>
    <tr>
      <th>Billed As</th>
      <th>Venue</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Date</th>
      <% if can? :manage, Gig %>
        <th>Actions</th>
      <% end %>
    </tr>
    </thead>
  <% end %>

  <% for gig in gigs %>
    <tr data-path="<%= gig_path(gig) %>">
      <td class="main-column"> <%= gig.BilledAs.present? ? gig.BilledAs : 'Robyn Hitchcock' %> </td>
      <td> <%= gig.Venue %> </td>
      <td> <%= gig.venue.nil? ? nil : gig.venue.City %> </td>
      <td> <%= gig.venue.nil? || gig.venue.State.nil? ? nil : gig.venue.State %> </td>
      <td> <%= gig.venue.nil? ? nil : gig.venue.Country %> </td>
      <td> <%= gig.GigDate.to_date.to_formatted_s(:long) %>       
        <% if gig.Circa %> 
           <i>(uncertain)</i>
        <% end %>
      </td>

      <% if can? :manage, Gig %>
        <td class="actions"> 
          <a href="<%=gig_path(gig)%>/edit">Edit</a> &nbsp;
          <%= link_to("Delete", gig_path(gig), method: :delete, data: { confirm: "Are you sure you want to delete the gig for #{gig.Venue}?" }) %>
        </td>
      <% end %>
      
    </tr>
  <% end %>

</table>