
<%= form_tag('/gigs/index', :method => 'GET') do %>

<p>
  <%= text_field_tag :search_value, params['search_value'] %>


  <%= check_box_tag 'search_type[]', 'venue', Array(params['search_type']).include?('venue') %> Venue
  <%= check_box_tag 'search_type[]', 'gig_year', Array(params['search_type']).include?('gig_year')  %> Gig Year

  <%= submit_tag "Search", :name => nil %>

</p>

<% end %>

<% if @gigs.present? %>
  <%= render partial: '/gigs/gig_list', locals: {gigs: @gigs} %>
<% end %>