<div class="gig-list">

<div class="search-criteria">

  <div class="row">

    <div class="<%= (can? :manage, Gig) ? 'col-sm-11' : 'col-sm-12' %>">

      <%= form_tag('/gigs/index', :method => 'GET') do %>
      
        <%= text_field_tag :gig_search_value, params['gig_search_value'], :class=> 'search-field', :placeholder => 'Search gigs' %>

        <%= submit_tag "Search", :name => nil %>

        <span class="criteria search-type-criteria">
          <%= radio_button_tag 'search_type[]', 'venue', Array(params['search_type']).include?('venue') %>                 <span class="radio-label">Venue</span>
          <%= radio_button_tag 'search_type[]', 'venue_city', Array(params['search_type']).include?('venue_city') %>       <span class="radio-label">City</span>
          <%= radio_button_tag 'search_type[]', 'venue_state', Array(params['search_type']).include?('venue_state') %>     <span class="radio-label">State</span>
          <%= radio_button_tag 'search_type[]', 'venue_country', Array(params['search_type']).include?('venue_country') %> <span class="radio-label">Country</span>
          <%= radio_button_tag 'search_type[]', 'gig_year', Array(params['search_type']).include?('gig_year')  %>          <span class="radio-label">Gig Year</span>
        </span>

      <% end %>

    </div>

    <% if can? :manage, Gig %>

      <div class="col-sm-1">
        <%= form_tag(new_gig_path, :method => 'GET') do %>
          <%= submit_tag "New Gig", :name => nil %>
        <%end%>
      </div>

    <% end %>  

  </div>

  <div class="row">

  <div class="col-sm-12">

    <% expand_advanced = ( params["gig_date"].present? ) %>

    <div class="advanced-options-header">
      <span class="glyphicon glyphicon-triangle-<%= expand_advanced ? 'bottom' : 'right'%>" aria-hidden="true"></span>
      <span class="header-name">Advanced Options</span>
    </div>

    <!-- advanced option block -->
    <div class="row advanced-options <%= expand_advanced ? 'expanded' : '' %>">

      <!-- media types -->
      <div class="col-sm-6">

        <div class="criteria dates">
          <div class="header-name">Gig happened</div>

          <div class="criteria-body" >

            <span>within</span>

            <span>
              <%= text_field_tag :gig_range, params['gig_range'], { :size => 4 } %>
            </span>

            <span>
              <%= select_tag :gig_range_type, options_for_select({
                      "Days" => GigsController::RANGE_TYPE[:days],
                      "Months" => GigsController::RANGE_TYPE[:months], 
                      "Years"=> GigsController::RANGE_TYPE[:years]                      
                    }, params['gig_range_type'].to_i)
            %>
            </span>

            <span>of</span>

            <%= text_field_tag :gig_date, params['gig_date'], { :size => 11, :placeholder => "mm/dd/yyyy" } %>

          </div>

        </div>

      </div>

    </div>

  </div>

<div class="search-results">

  <% if not @gigs.nil? %>
    <% if @gigs.empty? %> 
      <%= render partial: '/robyn/nothing_found' %>
    <% else %>
      <%= render partial: '/gigs/gig_list', locals: {gigs: @gigs, table_id: "gig-main"} %>
    <% end %>

  <% else %>
  
    <% quick_queries = get_all_quick_queries(Gig) %>

    <%= render partial: '/robyn/quick_queries', locals: {quick_queries: quick_queries} %>

  <% end %>

</div>

</div>