<!-- Gigs#show< -->
<!-- Find me in app/views/gigs/show.html.erb -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<div class="gig-page">

<h2>

  <%= @gig.Venue %>

  <small>
    <span class="inpage-navigation">
      <% if @gig.get_set.present? %> <span><a href="#setlist">Set list</a></span> <% end %>
      <% if @gig.get_reviews.present? %> <span><a href="#reviews">Reviews</a></span> <% end %>
    </span>
  </small>

</h2>

<div class="row">

  <div class="col-sm-12">


  <h4 class="underlined-header"> Details </h4>

  <dl class="dl-horizontal">
    <dt>Date</dt>
    <dd><%= @gig.GigDate.to_date.to_formatted_s(:long) %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Type</dt>
    <dd><%= @gig.Type %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Venue</dt>
    <dd>

      <%= @gig.Venue %>

      <% if @gig.venue.present? %>
        <span class="subsidiary-info">
          <small><%= "#{@gig.venue.City}, #{@gig.venue.State.present? ? @gig.venue.State : @gig.venue.Country} #{@gig.venue.SubCity.present? ? '(' + @gig.venue.SubCity + ')' : ''}" %> </small>
        </span
      <% end %>
 
    </dd>

  </dl>

  <dl class="dl-horizontal">
    <dt>Billed As</dt>
    <dd><%= @gig.BilledAs.present? ? @gig.BilledAs : 'Robyn Hitchcock' %> </dd>
  </dl>

  <% if @gig.Guests %>

    <dl class="dl-horizontal">
      <dt>Guests</dt>
      <dd><%= @gig.Guests %></dd>
    </dl>

  <% end %>

  <dl class="dl-horizontal">
    <dt>Tape Exists</dt>
    <dd><%= @gig.TapeExists ? "Yes" : "No" %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Length</dt>
    <dd><%= @gig.Length == 0 ? "Unknown" : @gig.Length %> </dd>
  </dl>

  </div>

</div>

<% if @gig.get_set.present? %>

<div class="row set-list-section" style="margin-top: 30px">

  <div class="col-sm-12">

    <!-- songs in the set -->
    <a class="anchor" name="setlist"></a>
    <h4 class="underlined-header"> Set </h4>

    <ol class="set-list">

    <% for gig_song in @gig.get_set  %>
      <% if gig_song.song.present? %>
        <li> <%= link_to gig_song.Song, song_path(gig_song.song) %> <%= gig_song_details(gig_song) %> </li>
      <% else %>
        <li> <%= gig_song.Song %> <%= gig_song_details(gig_song) %> </li>
      <% end %>
    <% end %>

    </ol>

    <% if @gig.get_set_encore.present? %>

      <!-- songs in the encore -->
      <div class="set-list-encore"> Encore </div>

      <ol class="set-list">

        <% for gig_song in @gig.get_set_encore  %>
          <% if gig_song.song.present? %>
            <li> <%= link_to gig_song.Song, song_path(gig_song.song) %> <%= gig_song_details(gig_song) %> </li>
          <% else %>
            <li> <%= gig_song.Song %> </li>
          <% end %> 
        <% end %>

      </ol>

    <% end %>

  </div>

</div>

<% end %>

<% if @gig.get_reviews.present? %>

  <!-- reviews-->
  <a class="anchor" name="reviews"></a>
  <h4 class="underlined-header"> Reviews </h4>

  <div>
    <%= @gig.get_reviews.html_safe %>
  </div>

<% end %>


</div>