<!-- <h1>Performances#index</h1>
<p>Find me in app/views/performances/index.html.erb</p>
 -->


 <div class="performance-list">

 <%= form_tag('/performances/index', :method => 'GET') do %>

 <div class="search-criteria">

 <div class="row">

   <div class="col-sm-12">

     <%= text_field_tag :performance_search_value, params['performance_search_value'], :class=> 'search-field', :placeholder => 'Search media' %>

     <%= submit_tag "Search", :name => nil %>

     <span class="criteria search-type-criteria">
       <%= radio_button_tag 'search_type[]', 'name', Array(params['search_type']).include?('name')   %> <span class="radio-label">Name</span>
       <%= radio_button_tag 'search_type[]', 'venue', Array(params['search_type']).include?('venue') %> <span class="radio-label">Medium</span>
     </span>

   </div>

 </div>

 <div class="row">

   <div class="col-sm-12">

     <% expand_advanced = ( params["performance_type"].present? or params["medium"].present? ) %>

     <div class="advanced-options-header">
       <span class="glyphicon glyphicon-triangle-<%= expand_advanced ? 'bottom' : 'right'%>" aria-hidden="true"></span>
       <span class="header-name">Advanced Options</span>
     </div>

     <!-- advanced option block -->
     <div class="row advanced-options <%= expand_advanced ? 'expanded' : '' %>">

       <!-- medium -->
       <div class="col-sm-6">

         <div class="criteria">

           <div class="header-name">Media</div>

           <div class="criteria-body criteria-options" >
             <% Performance::MEDIUM.each do |name, key| %>    
               <%= check_box_tag 'media[]', key, Array(params['media']).include?(key.to_s) %>  
               <span class="radio-label"> <%= medium_label(key) %> </span> <br/>
             <% end %>
           </div>

         </div>

       </div>

       <!-- performance types -->
       <div class="col-sm-6">

         <div class="criteria">

           <div class="header-name">Performance Type</div>

           <div class="criteria-body criteria-options">

             <% Performance::PERFORMANCE_TYPE.each do |name, key| %>    
               <%= check_box_tag 'performance_type[]', key, Array(params['performance_type']).include?(key.to_s) %> 
               <span class="radio-label"> <%= performance_type_label(key) %> </span> <br/>
             <% end %>

           </div>

         </div>

       </div>

     </div>

   </div>

 <% end %>

 <div class="search-results">

   <% if not @performances.nil? %>
     <% if @performances.empty? %> 
       <%= render partial: '/robyn/nothing_found' %>
     <% else %>
       <%= render partial: '/performances/performance_list', locals: {performances: @performances, table_id: "perfomance-main"} %>
     <% end %>

   <% else %>
   
     <% quick_queries = get_all_quick_queries(Performance) %>

     <%= render partial: '/robyn/quick_queries', locals: {quick_queries: quick_queries} %>

   <% end %>

 </div>

 </div>