<!-- <h1>Performances#show</h1>
<p>Find me in app/views/performances/show.html.erb</p>
 -->

<div class="performances-page">

<h2 class="main-header"><%= @performance.name %> 

  <small>
    <span class="inpage-navigation">
      <% if @performance.songs.present? %> <span><a href="#songs">Songs</a></span> <% end %>
    </span>
  </small>

</h2>

<div class="row">

  <div class="col-sm-12">

    <h4 class="underlined-header"> Details </h4>

    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @performance.name %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @performance.performance_date.to_date.to_formatted_s(:long) %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd><%= performance_type_label(@performance.performance_type) %></dd>
    </dl>

  </div>

</div>

<div class="row">

  <div class="col-sm-12">

    <div class="performance-video">

      <iframe src="<%= @performance.url %>" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>

    </div>

  </div>

</div>

<% if @performance.songs.present? %>

<div class="row page-section">

  <div class="col-sm-12">

    <a class="anchor" name="songs"></a>
    <h4>Songs</h4>
    <%= render partial: '/songs/song_list', locals: {songs: @performance.songs, table_id: "song-performance", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>
<!--

this works: https://archive.org/embed/RHJoolsHolland (https://archive.org/details/RHJoolsHolland)
this doesn't: https://archive.org/download/Various_Videos_5/Robyn%20Hitchcock%20-%201988%20-%202Hip4TV.mp4
-->